<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <title>I'm Bored</title>
</head>

<body>
  <div>
    <h1>Let's find something for you to do ✌️</h1>

    <form action="/" id="form" method="POST">
      <select name="type">
        <option value="">Random type</option>
        <option value="education">Education</option>
        <option value="charity">Charity</option>
        <option value="recreational">Recreational</option>
        <option value="relaxation">Relaxation</option>
        <option value="busywork">Busywork</option>
        <option value="social">Social</option>
        <option value="diy">DIY</option>
        <option value="music">Music</option>
      </select>
      <select name="participants">
        <option value="">Any number of people</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <button type="submit">Go</button>
    </form> 
    <section id="cards">

      <% if(locals.data) {console.log(locals.data);%>

      <h2>
        <!-- Show Activity -->
        
        <%= data.results[0].name.first %>
      </h2>

      <span>
        <!-- Show Activity type -->
        <%= data.results[0].location.city %>
      </span>
      <span>
        <!-- participants: Show participant number -->
  

      </span>


      <% } %>

      <% if(locals.error){ %>
      <div id="tag-error">
        <!-- Show any errors that were sent from the backend -->
        <%= error %>
      </div>
      <% } %>
    </section>
  </div>

</body>

</html>